In [0]:
%sql
show tables;

database,tableName,isTemporary
default,diamonds,false
default,ejemplo,false
default,ejemplo2,false
default,ejemploa,false
default,tablaconaltosybajos,false
,df1_data,true
,df2_data,true

In [0]:
%sql

describe ejemplo;

col_name,data_type,comment
id,string,null
nombre,string,null
fecha_nac,string,null
telefono,string,null
dni,string,null

In [0]:
df1 = spark.read.format("csv").option("header", "true").load("dbfs:/FileStore/shared_uploads/temp/ejemplo.csv")
df1.createOrReplaceTempView("df1_data")

df2 = spark.read.format("csv").option("header", "true").load("dbfs:/FileStore/shared_uploads/temp/ejemplo2.csv")
df2.createOrReplaceTempView("df2_data")

df1.show()
df2.show()

## Prueba

Agregar una nueva columna con las siguientes condiciones: 

- Si el id es > 6, el valor de la columnma debe ser 'alto'. 
- Caso contrario, bajo


Contar cuantos registros hay de cada grupo (de alto y bajo) y sobre ese resultado mostrar sobre los registros que cumplan con el count > 5

In [0]:
%sql
SELECT *
FROM ejemplo
JOIN ejemplo2
  ON ejemplo.id==ejemplo2.id
WHERE valor RLIKE '(\\d)'

id,nombre,fecha_nac,telefono,dni,id,valor
1,Hedvige,1989-08-18,1182564624,37984925,1,adfasdf444dfsdf
2,Leelah,1977-07-14,1132260137,37957950,2,asdfsd23fdsf444
3,Garey,1995-01-18,1155665156,70507557,3,"adTOTALfs 1.200,10sdsd###"
4,Brew,1974-08-11,1180446122,92960615,4,"00000.000000,0000 1.200,10sdsd###"
5,Rollo,1965-05-10,1182985042,66671041,5,"adTOTALfs 1200,10sdsd###"
6,Elladine,1995-11-11,1198585927,5699601,6,$$%%23fdsf44 SDF%%^^
9,Lonnard,1981-10-11,1185092562,68705684,9,adfs$100.10sdsd###
10,Maisey,1991-01-13,1178492010,92250667,10,adTOTALfs 100.10sdsd#$%##

In [0]:
# regex_parte1= '[0-9](,)'
# regex_parte2= '[0-9]{2}'

# df = spark.sql(f"SELECT * FROM ejemplo JOIN ejemplo2 ON ejemplo.id==ejemplo2.id WHERE valor RLIKE {regex_parte1}")

In [0]:
query = """
  SELECT *
  FROM df1_data
  JOIN df2_data
  ON df2_data.id==df1_data.id;"""

df_join = spark.sql(query)
display(df_join)

id,nombre,fecha_nac,telefono,dni,id,valor
1,Hedvige,1989-08-18,1182564624,37984925,1,adfasdf444dfsdf
2,Leelah,1977-07-14,1132260137,37957950,2,asdfsd23fdsf444
3,Garey,1995-01-18,1155665156,70507557,3,"adTOTALfs 1.200,10sdsd###"
4,Brew,1974-08-11,1180446122,92960615,4,"00000.000000,0000 1.200,10sdsd###"
5,Rollo,1965-05-10,1182985042,66671041,5,"adTOTALfs 1200,10sdsd###"
6,Elladine,1995-11-11,1198585927,5699601,6,$$%%23fdsf44 SDF%%^^
7,Cristiano,1988-05-02,1185937162,71595964,7,asdfsdfdsfds
8,Kristopher,1987-02-27,1175092639,69586516,8,====%%###
9,Lonnard,1981-10-11,1185092562,68705684,9,adfs$100.10sdsd###
10,Maisey,1991-01-13,1178492010,92250667,10,adTOTALfs 100.10sdsd#$%##

In [0]:
%sql
-- CREATE VIEW tablaConAltosYBajos AS(
-- SELECT ejemplo.id,nombre,fecha_nac,telefono,dni,valor,
-- CASE 
-- 	WHEN (ejemplo.id>6) Then 'alto'
-- 	ELSE 'bajo'
-- END as altoBajo
-- FROM ejemplo
-- 	JOIN ejemplo2
--     ON ejemplo.id=ejemplo2.id)

In [0]:
%sql
SELECT * from tablaconaltosybajos

id,nombre,fecha_nac,telefono,dni,valor,altoBajo
1,Hedvige,1989-08-18,1182564624,37984925,adfasdf444dfsdf,bajo
2,Leelah,1977-07-14,1132260137,37957950,asdfsd23fdsf444,bajo
3,Garey,1995-01-18,1155665156,70507557,"adTOTALfs 1.200,10sdsd###",bajo
4,Brew,1974-08-11,1180446122,92960615,"00000.000000,0000 1.200,10sdsd###",bajo
5,Rollo,1965-05-10,1182985042,66671041,"adTOTALfs 1200,10sdsd###",bajo
6,Elladine,1995-11-11,1198585927,5699601,$$%%23fdsf44 SDF%%^^,bajo
7,Cristiano,1988-05-02,1185937162,71595964,asdfsdfdsfds,alto
8,Kristopher,1987-02-27,1175092639,69586516,====%%###,alto
9,Lonnard,1981-10-11,1185092562,68705684,adfs$100.10sdsd###,alto
10,Maisey,1991-01-13,1178492010,92250667,adTOTALfs 100.10sdsd#$%##,alto

In [0]:
%sql
SELECT altobajo, COUNT(*) as contador
FROM tablaconaltosybajos
GROUP BY altobajo
HAVING contador > 5

altobajo,contador
bajo,6

In [0]:
%sql
WITH contadorDeAltoYBajo AS (SELECT altobajo, COUNT(*) as contador
FROM tablaconaltosybajos 
GROUP BY altobajo)
SELECT *
FROM tablaconaltosybajos as t
JOIN contadorDeAltoYBajo as c
    ON c.altobajo = t.altobajo
WHERE contador > 5